# Temp/work/build files
logs/
temp/
work/
webapps/ROOT/WEB-INF/lib/
webapps/ROOT/WEB-INF/classes/

# Will be copied here from a template, if proxy is used
webapps/ROOT/WEB-INF/urlrewrite.xml
webapps/ROOT/WEB-INF/web.xml
webapps/ROOT/META-INF/context.xml
